<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

    <div class="error">
        <h1>404 Error</h1>
        <p>Sorry, the page you are looking for could not be found.</p>
        <a href="/">Back to Home</a>
    </div>

</body>

{{> footer}}

</html>