<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
  <!-- navbar -->
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Conact Us</a></li>
      <li><a href="/login">LogIn</a></li>
      <li><a href="/signup">SignUp</a></li>
    </ul>

    <h1> <i> Crispy King </i> </h1>
    <h2>Discover the best food & drinks in Mamupur</h2>
    <form class="searchbox">
      <input style="border: none" type="text" placeholder="Search for your place" name="search" autocomplete="off">
    </form>
  </nav>

  <!-- cards -->
  <div class="cards">
    <div class="card">
      <img src="/images/food1.jpg" alt="image">
      <h2>Aloo Parantha</h2>
      <h3>
        SNACKS | NORTH INDIAN
      </h3>
      <div class="content">
        <div class="faded_detail">
          <p>30$ for one</p>
        </div>
        <div class="star">
          <p>4.5 <span id="🎇">&#9733</span></p>
        </div>
        <div class="faded_detail">
          <p>10mins</p>
        </div>
      </div>
      <div class="discount">
        <p>5% OFF</p>
      </div>
      <button>
        <a href="/login">Order Now</a>
      </button>
    </div>
    <div class="card">
      <img src="/images/food2.jpg" alt="image" />
      <h2>Veg Thali</h2>
      <h3>
        INDIAN FOOD | NORTH INDIAN
      </h3>
      <div class="content">
        <div class="faded_detail">
          <p>50$ for one</p>
        </div>
        <div class="star">
          <p>4.8 <span id="🎇">&#9733</span></p>
        </div>
        <div class="faded_detail">
          <p>30mins</p>
        </div>
      </div>
      <div class="discount">
        <p>20% OFF</p>
      </div>
      <button>
        <a href="/login">Order Now</a>
      </button>
    </div>
    <div class="card">
      <img src="/images/food3.jpg" alt="image" />
      <h2>Fried Rice</h2>
      <h3>
        SNACKS | NORTH INDIAN
      </h3>
      <div class="content">
        <div class="faded_detail">
          <p>40$ for one</p>
        </div>
        <div class="star">
          <p>4.6 <span id="🎇">&#9733</span></p>
        </div>
        <div class="faded_detail">
          <p>30mins</p>
        </div>
      </div>
      <div class="discount">
        <p>10% OFF</p>
      </div>
      <button>
        <a href="/login">Order Now</a>
      </button>
    </div>
    <div class="card">
      <img src="/images/food4.jpg" alt="image" />
      <h2>Omlette</h2>
      <h3>
        SNACKS | NORTH INDIAN
      </h3>
      <div class="content">
        <div class="faded_detail">
          <p>60$ for one</p>
        </div>
        <div class="star">
          <p>4.3 <span id="🎇">&#9733</span></p>
        </div>
        <div class="faded_detail">
          <p>50mins</p>
        </div>
      </div>
      <div class="discount">
        <p>5% OFF</p>
      </div>
      <button>
        <a href="/login">Order Now</a>
      </button>
    </div>
    <div class="card">
      <img src="/images/food5.jpg" alt="image" />
      <h2>Spring Roll</h2>
      <h3>
        FAST FOOD | NORTH INDIAN
      </h3>
      <div class="content">
        <div class="faded_detail">
          <p>50$ for one</p>
        </div>
        <div class="star">
          <p>4.0 <span id="🎇">&#9733</span></p>
        </div>
        <div class="faded_detail">
          <p>50mins</p>
        </div>
      </div>
      <div class="discount">
        <p>30% OFF</p>
      </div>
      <button>
        <a href="/login">Order Now</a>
      </button>
    </div>
    <div class="card">
      <img src="/images/food6.jpg" alt="image" />
      <h2>Momos</h2>
      <h3>
        FAST FOOD | EAST INDIAN
      </h3>
      <div class="content">
        <div class="faded_detail">
          <p>60$ for one</p>
        </div>
        <div class="star">
          <p>4.8 <span id="🎇">&#9733</span></p>
        </div>
        <div class="faded_detail">
          <p>40mins</p>
        </div>
      </div>
      <div class="discount">
        <p>10% OFF</p>
      </div>
      <button>
        <a href="/login">Order Now</a>
      </button>
    </div>
  </div>

  <!-- About Us -->
  <h1 id="about" class="heading">ABOUT US</h1>
  <div class="person">
    <div class="overlay">
      <img src="/images/person1.jpg" alt="">
      <div class="text">
        Vivek is the founder and CEO of Crispy King. Butter chicken with naan is his greatest weakness and his favourite
        words are focus and now.
      </div>
    </div>
    <div class="overlay">
      <img src="/images/person3.jpg" alt="" />
      <div class="text">
        Surobhi is part of the customer experience team at Crispy King. She loves discovering coffee and food cultures
        through her travels.
      </div>
    </div>
    <div class="overlay">
      <img src="/images/person2.jpg" alt="">
      <div class="text">
        Akshant is the CFO of Crispy King. He likes to eat alone - says he likes to eat his food in peace, and is known
        to go for long walks alone.
      </div>
    </div>
  </div>
</body>

<!-- footer -->
{{>footer}}


</html>