<!DOCTYPE html>
<html lang="en">

{{>loginHeader}}

<body>
    <!-- login form  -->
    <div class="login-page">
        <div class="form">
            <div>
                {{#if title}}
                <p id="error">{{title}}</p>
                {{/if}}
            </div>

            <h1 id="h1">Sign In</h1>
            <button class="lgnbtn">
                <a href="/"> <b> X </b> </a>
            </button>

            <form class="login-form" method="post" action="/login" autocomplete="off">

                <input type="text" placeholder="username" name="username" required>

                <input type="password" placeholder="password" name="password" required>

                <p class="reqmsg"><span id="x">*</span> indicates required field</p>

                <button type="submit">login</button>

                <p class="message">New Customer? <a href="/signup">Sign Up Now</a></p>
            </form>
        </div>
    </div>
</body>

{{>footer}}

</html>