<!DOCTYPE html>
<html lang="en">

{{>loginHeader}}

<body>
    <!-- register form  -->
    <div class="login-page">
        <div class="form">
            <div>
                {{#if title}}
                <p id="error">{{title}}</p>
                {{/if}}
            </div>

            <h1 id="h1">Sign Up</h1>
            <button class="lgnbtn">
                <a href="/">X</a>
            </button>
            <form class="login-form" method="post" action="/register" autocomplete="off">
                <input type="text" placeholder="Name" name="name" required>
                <input type="text" placeholder="Email" name="email" required>
                <input type="text" placeholder="Phone" name="phone" required>
                <input type="text" placeholder="Address" name="address">
                <input type="text" placeholder="username" name="username" required>
                <input type="password" placeholder="password" name="password" required>
                <input type="password" placeholder="confirm password*" name="confirmpassword" required>
                <p class="reqmsg"><span id="x">*</span> indicates required field</p>
                <button type="submit">signup</button>
                <p class="message">Already Registered? <a href="/login">LogIn</a></p>
            </form>
        </div>
    </div>
</body>

{{>footer}}

</html>