<footer>
    <div class="footer" id="contact">
        <div class="footer1">
            <h3>COMPANY</h3>
            <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer1">
            <h3>CONTACT US</h3>
            <ul>
                <li><a href="#">+91 9335153413</a></li>
                <li><a href="#">+91 8572851246</a></li>
                <li><a href="#">+91 9203941033</a></li>
            </ul>
        </div>
        <div class="footer1">
            <h3>CONNECT WITH US</h3>
            <ul>
                <li><a href="https://twitter.com">Twitter</a></li>
                <li><a href="https://instagram.com">Instagram</a></li>
                <li><a href="https://linkedin.in">LinkedIn</a></li>
                <li><a href="https://youtube.com">YouTube</a></li>
        </div>
        </ul>
        <p>
            By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content
            Policies. All trademarks are properties of their respective owners. 2008-2023 © Crispy King™ Ltd. All rights
            reserved.
        </p>
</footer>